/* Oligo Catalog CSS */

#oligo_template {
	display: none;
}

.form-footer {
	background-color: #F7F7F7;
	margin-bottom: 25px;
}

.form-footer .form-footer-header {
    padding: 10px;
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-footer .form-footer-body {
	display: flex;
	align-items: center;
	padding: 10px 10px 20px;
}

.form-footer .form-footer-header .form-footer-header-title {
	flex: 1;
}

.form-footer .form-footer-body .form-subtotal-container,
.form-footer .form-footer-body .form-oligo-quiantity,
.form-footer .form-footer-body .form-add-oligo-container {
	flex: 1;
}

.form-footer .form-footer-body .form-add-oligo-container .add-oligo-btn {
	float: right;
    margin-right: 10px;
}

.form-footer .form-footer-header .clear-oligo-btn,
.form-footer .form-footer-header .clear-oligo-btn i {
    background-color: transparent;
    color: #DD0017;
}

.oligo-container h1 {
	margin-bottom: 40px;
}

.oligo-option-row {
	display: flex;
    margin-bottom: 30px;
    border-bottom: 1px solid #F7F7F7;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.oligo-option-cell {
	flex: 1;
	margin-left: 5px;
	margin-right: 5px;
}

.oligo-option-cell select {
    width: 100%;
    height: 34px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #FFF;
    box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.08);
}

.oc2 .oligo-option-cell label,
.oc2 .oligo-option-cell.required label {
	display: block;
    font-weight: 700;
}

/*.oligo-container .product .oligo-option-row:last-child {
	border: 0;
}*/

.oligo-subtotal {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.oligo-subtotal .subtotal-text {
	flex: 1;
    font-weight: 700;
    font-size: 20px;
}

.oligo-subtotal #button-cart img {
	width: 1em;
	height: 1em;
	margin-bottom: -0.1em;
}

.form-subtotal-value {
    font-size: 14px;
    font-weight: 700;
}

#oligo-success-container {
    margin-bottom: 40px;
}

#oligo-success-container #plural,
#oligo-success-container #singular,
#oligo-success-container #update {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-radius: 4px;
    padding: 15px;
}